extends main
block content
    script(type="text/javascript").

    //- script.
    //-     let url="/data"

    //-     async function refresh() {
    //-     btn.disabled = true;
    //-     dynamicPart.innerHTML = "Loading..."
    //-     dynamicPart.innerHTML = await(await fetch(url)).text();
    //-     setTimeout(refresh,2000);
    //-     }
    //- $(document).ready(()=>{   
    //-     setInterval(function() {
    //-         $("#dataDiv").load(window.location.href + " #dataDiv>*");
    //-         //- $("#twitch-chat-embed").load(window.location.href + " #twitch-chat-embed>*");
    //-         //- $("#viewers").load(window.location.href + " #viewers>*");
    //-         },5000 * 1)
    //-     })
    title Mod Bot - Database

    div(class="container container-fluid" align="center" style="width: 100%;")
        div(id="messages")
            if flash.error
                div(class="alert alert-danger" role="alert") #{flash.error}
            if flash.warning
                div(class="alert alert-warning" role="alert") #{flash.warning}
            if flash.success
                div(class="alert alert-success" role="alert") #{flash.success}
            if auth_error
                div(class="alert alert-warning" role="alert") #{auth_error}

            if success
                div(class="row")
                    div(class="col-lg")
                        //- div(class="alert alert-dark" role="alert" style="width: 100%;") 
                        if unModded.length > 0 
                            div(id=channel class="alert alert-warning" role="alert")
                                for channel in unModded
                                    | Bot requires mod privilege in <b>#{channel}'s</b> channel </br> 

                //- div(class="row")
                //-     div(class="col-6" id="chatBox" width="500px" height="500px") 
                //-         h6(style='background-color:#000000; color: #6441a5;')
                //-             strong #{channel}'s Chat                              
                //-         iframe(id="twitch-chat-embed" src="https://www.twitch.tv/embed/" + channel + "/chat?parent=" + parent + "&darkpopout")



                div(class="row" id="dataDiv")
                    div(class="col-md border border-dark" id="bannedUsers" style="padding: 0; margin: 0;")
                        h6(style="background-color:#000000; color:red;") 
                            strong Banned
                        table(class="table table-striped table-hover" style="padding: 0 !important;" id="BannedUsersTable")
                            thead(style="bgcolor: #ffffff;") 
                                th(hidden=true style="width:100%; padding:0; margin:0;")
                            tbody(style="overflow-y: scroll;") 
                                for value in bannedUsers
                                    tr
                                        td
                                            img(class="userIcon" src=value.profile_image_url, alt=value.login)
                                            | #{value.display_name}
                                            div(class="float-end")
                                                a(href=`/viewer?username=${name}`) 
                                                    button(class="btn-light userIcon text-center" style="filter: drop-shadow(1px 1px 2px black); box-shadow: inset 0 0 10px #000000; padding: 0; background-color: #6441a5;" )
                                                        svg.bi.bi-person-fill(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='white' viewBox='-2 0 23 23')
                                                            path(d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z')
                                            div(class="float-end")
                                                form(action="/data" method="post")
                                                    button(id="unBan" type="submit" data-toggle="tooltip" data-bs-placement="bottom" title=`Unban ${value.display_name}` class="btn-success userIcon" style="filter: drop-shadow(1px 1px 2px black); box-shadow: inset 0 0 10px #000000; text-color: white; padding: 0; background-color: green;" name="unBan" value=`${value.login}`) 
                                                        iconify-icon(icon="material-symbols:check" style="color: white;")

                    br
                    br
                    div( class="col-md" id="permittedUsers" style="padding: 0; margin: 0;")    
                        table(class="table table-striped table-hover" id="PermittedUsersTable")
                            thead 
                                h6(style="background-color:#000000; color:green;")
                                    strong  Permitted
                                th(hidden=true style="width:100%; padding:0; margin:0;") 
                            tbody 
                                for value in permittedUsers
                                    tr
                                        td
                                            img(class="userIcon" src=value.profile_image_url, alt=value.login)
                                            | #{value.display_name}
                                            div(class="float-end")
                                                a(href=`/viewer?username=${name}`) 
                                                    button(class="btn-light userIcon text-center" data-toggle="tooltip" data-bs-placement="bottom" title=`View Details` style="filter: drop-shadow(1px 1px 2px black); box-shadow: inset 0 0 10px #000000; padding: 0; background-color: #6441a5;" )
                                                        svg.bi.bi-person-fill(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='white' viewBox='-2 0 23 23')
                                                            path(d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z')
                                            div(class="float-end")
                                                form(action="/data" method="post")
                                                    button(id="ban" type="submit" data-toggle="tooltip" data-bs-placement="bottom" title=`Ban ${value.display_name}` class="userIcon btn-danger" style="filter: drop-shadow(1px 1px 2px black); box-shadow: inset 0 0 10px #000000; padding: 0; background-color: red;" name="ban" value=`${value.login}`)
                                                        iconify-icon( icon="oi:ban" style="color: white;")

                    div( class="col-lg" id="Viewers" style="padding: 0; margin: 0;")
                        h6(style="background-color:#000000; color: grey;") 
                            strong Viewers
                        table( class="table table-striped table-hover" id="ChattersTable")
                            thead
                                th(hidden=true style="width:100%; padding:0; margin:0;")
                            tbody

                                for value, id in viewerList 
                                    if value.length > 0 

                                        for name in value 
                                            tr
                                                td
                                                    div(class="float-end")
                                                        a(href=`/viewer?username=${name}`) 
                                                            button(class="btn-light userIcon text-center" data-toggle="tooltip" data-bs-placement="bottom" title=`View Details` style="filter: drop-shadow(1px 1px 2px black); box-shadow: inset 0 0 10px #000000; padding: 0; background-color: #6441a5;" )
                                                                svg.bi.bi-person-fill(xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='white' viewBox='-2 0 23 23')
                                                                    path(d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z')
                                                    if id == "broadcaster"
                                                        img(src="https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/1" alt="broadcaster_badge") 
                                                        strong   #{name}
                                                    if id == "staff"
                                                        img(src="https://static-cdn.jtvnw.net/badges/v1/d97c37bd-a6f5-4c38-8f57-4e4bef88af34/1" alt="staff_badge") 
                                                        strong   #{name}
                                                    if id == "admins"
                                                        img(src="https://static-cdn.jtvnw.net/badges/v1/9ef7e029-4cdf-4d4d-a0d5-e2b3fb2583fe/1" alt="admin_badge") 
                                                        strong   #{name}
                                                    if id == "global_mods"
                                                        img(src="https://static-cdn.jtvnw.net/badges/v1/9ef7e029-4cdf-4d4d-a0d5-e2b3fb2583fe/1" alt="global_mod_badge") 
                                                        strong   #{name}
                                                    if id == "moderators"
                                                        img(src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/1" alt="mod_badge") 
                                                        strong   #{name}
                                                    if id == "vips"
                                                        img(src="https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/3" alt="vip_badge") 
                                                        strong   #{name}
                                                    if id == "viewers"
                                                        strong   #{name}
                                                        div(class="float-end")
                                                            form(action="/data" method="post")
                                                                button(id="ban" type="submit" data-toggle="tooltip" data-bs-placement="bottom" title=`Ban ${name}` class="btn-danger userIcon text-center" style="filter: drop-shadow(1px 1px 2px black); box-shadow: inset 0 0 10px #000000; padding: 0; background-color: red;" name="ban" value=`${name}`) 
                                                                    iconify-icon(icon="oi:ban" style="color: white;")

            else
                div(class="alert alert-danger" role="alert") Token has expired or became invalid authorize a new Token 
                    a(href="../token" id="generateButton" style="text-decoration:none; text-align:center!important;")
                        button(class="btn-primary rounded" style="width:; height:; text-align:center !important; filter: drop-shadow(1px 1px 2px black); box-shadow: inset 0 0 10px #000000;") Authorize


