extends main
block content
    if stream
        script(type="text/javascript").
            const streamStartedRaw = !{startTimeRaw};

            const intervalID = setInterval(msToTime, 1000, streamStartedRaw);
            function msToTime(streamStarted) {
                let duration = Date.now() - (streamStarted) 
                let milliseconds = Math.floor((duration % 1000) / 100),
                    seconds = Math.floor((duration / 1000) % 60),
                    minutes = Math.floor((duration / (1000 * 60)) % 60),
                    hours = Math.floor((duration / (1000 * 60 * 60)) % 24);
                const time = `${hours > 0 ? hours + 'h ' : ""}${minutes > 0 ? minutes + "m " : ''}`+ seconds + "s"

                document.getElementById("upTimer").innerHTML = time.trim();
                $("#dataDiv").load(window.location.href + " #dataDiv>*");

            }



    title Mod Bot - Stream Data
    div(class="container-fluid" align="center" style="width:100% !important; padding:0; margin: 0;")
        div(id="messages")
            if flash.error
                div(class="alert alert-danger" role="alert") #{flash.error}
            if flash.warning
                div(class="alert alert-warning" role="alert") #{flash.warning}
            if flash.success
                div(class="alert alert-success" role="alert") #{flash.success}
            if auth_error
                div(class="alert alert-warning" role="alert") #{auth_error}

        div(class="row" id="dataDiv" style="width:80%; padding: 0; margin: 0; filter: drop-shadow(1px 1px 2px black);")
            div(class="col border border-dark" style="padding: 0; margin: 0;")
                table(class="table table-dark table-striped table-hover border border-dark")

                    tr
                        td(width='15%') 
                            strong Status
                        td #{stream ? "🔴 Live" : "Offline"}
                    if stream
                        tr
                            td
                                strong Started
                            td #{stream ? new Date(stream.started_at).toLocaleString() :  "Offline"}
                        tr
                            td 
                                strong Uptime
                            td(id="upTimer")= uptime
                        tr
                            td
                                strong Title
                            td #{stream ? stream.title: "None"}
                        tr
                            td
                                strong Game
                            td #{stream ? stream.game_name: "None"}
                        tr
                            td 
                                strong Viewers
                            td
                                div(id="watching") #{stream ? stream.viewer_count : "0"}    
                                div( class="col-md" id="viewers")
                    if streamDataLength > 0
                        tr
                            td(colspan=2 style="width: 100%; min-height: 100%; padding: 14px !important;") 
                                div(class="float-start" data-bs-toggle="collapse" href="#metaDataList" role="button" aria-expanded="false" data-bs-target="#metaDataList" aria-controls="metaDataList" style="width: 100%; margin: 0px; " id="thisButton")
                                    strong(style="padding: 0.5em !important;") #{`Stream Events - ${streamDataLength}`}
                                    div(id="metaDataList" class="collapse" style="width: 100%; margin: 0px; padding: 0px !important;")

                                        div(class="card card-body" style="width: 100%; margin: 0px; padding: 0px;")
                                            table(style="width: 100%; margin: 0px; padding: 0px; text-align: center;")
                                                if Object.keys(streamData.subs).length > 0
                                                    tr
                                                        th(colspan='2' style="padding: 0px !important;") Subs
                                                            each sub in streamData.subs
                                                                tr
                                                                    td(colspan='2') #{sub}
                                                if Object.keys(streamData.reSubs).length > 0
                                                    tr
                                                        th(colspan='2' style="padding: 0px !important;") ReSubs
                                                            each reSub in streamData.reSubs
                                                                tr
                                                                    td(colspan='2') #{reSub}
                                                if Object.keys(streamData.gifters).length > 0
                                                    tr
                                                        th(colspan='2' style="padding: 0px !important;") Gifters
                                                            each total, gifter in gifters
                                                                tr
                                                                    td #{gifter}
                                                                    td #{total}
                                                if Object.keys(streamData.cheerers).length > 0
                                                    tr 
                                                        th(colspan='2' style="padding: 0px !important;") Cheerers
                                                            each cheerer in streamData.cheerers
                                                                tr
                                                                    td(colspan='2') #{cheerer}
                                                if Object.keys(streamData.raiders).length > 0
                                                    tr
                                                        th( colspan='2' style="padding: 0px !important;") Raiders
                                                            each raider in streamData.raiders
                                                                tr
                                                                    td(colspan='2') #{raider}
                                                if Object.keys(streamData.binxRaids).length > 0
                                                    tr 
                                                        th(colspan='2' style="padding: 0px !important;") Binx Raids
                                                            each binxRaider in streamData.binxRaids
                                                                tr
                                                                    td(colspan='2') #{binxRaider}
        div(class="row" id="dataDiv" style="width:80%; padding: 0; margin: 0; filter: drop-shadow(1px 1px 2px black);")
            div(class="col border border-dark" style="padding: 0; margin: 0;")
                table(class="table table-dark table-striped table-hover" style="padding: 0 !important;" id="ChattersTable")
                    thead(class="thead-dark" style="background-color: black;") 
                        h4(style="background-color:#000000; text-color: white;")
                            strong Chatters List
                        th(class="invisible w-100 p-0 m-0" hidden=true) 
                    tbody
                        for value, id in viewerList 
                            if value.length > 0 
                                for name in value 
                                    tr
                                        td
                                            div(class="float-start")
                                                if id == "broadcaster"
                                                    img(src="https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/1" alt="broadcaster_badge") 
                                                    strong   #{name}

                                                if id == "staff"
                                                    img(src="https://static-cdn.jtvnw.net/badges/v1/d97c37bd-a6f5-4c38-8f57-4e4bef88af34/1" alt="staff_badge") 
                                                    strong   #{name}

                                                if id == "admins"
                                                    img(src="https://static-cdn.jtvnw.net/badges/v1/9ef7e029-4cdf-4d4d-a0d5-e2b3fb2583fe/1" alt="admin_badge") 
                                                    strong   #{name}

                                                if id == "global_mods"
                                                    img(src="https://static-cdn.jtvnw.net/badges/v1/9ef7e029-4cdf-4d4d-a0d5-e2b3fb2583fe/1" alt="global_mod_badge") 
                                                    strong   #{name}

                                                if id == "moderators"
                                                    img(src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/1" alt="mod_badge") 
                                                    strong   #{name}

                                                if id == "vips"
                                                    img(src="https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/3" alt="vip_badge") 
                                                    strong   #{name}

                                                if id == "viewers"
                                                    strong   #{name}
                                            div(class="float-start")
                                                a(role="button" href=`/viewer?username=${name}` class="float-start userIcon text-center" data-toggle="tooltip" data-bs-placement="bottom" title=`View Details` style="filter: drop-shadow(1px 1px 2px black); box-shadow: inset 0 0 10px #000000; padding: 0; background-color: #6441a5;" )
                                                    i(class="bi bi-twitch" style="color:white;")
                                            if id == "viewers"
                                                form( action="/data" method="post")
                                                    button(id="ban" type="submit" data-toggle="tooltip" data-bs-placement="bottom" title=`Ban ${name}` class="float-start btn-danger userIcon text-center" style="filter: drop-shadow(1px 1px 2px black); box-shadow: inset 0 0 10px #000000; padding: 0; background-color: red;" name="ban" value=`${name}`)
                                                        i(class="bi bi-slash-circle" style="color: white;") 
